.margintop {
    margin-top: -90px;
    background-color : #7CD7D0;
}

.conversation-wrap
{
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    max-height: 400px;
    overflow: auto;
}
.conversation
{
    padding:5px;
    border-bottom:1px solid #ddd;
    margin:0;

}

.message-wrap
{
    box-shadow: 0 0 3px #ddd;
    padding:0;

}
.msg
{
    padding:5px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    max-height: 400px;
    overflow: auto;

}

.time
{
    color:#bfbfbf;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message {
    width: 80%;
    display: inline;
    resize: none;
}

.new-channel-btn {
    width: 92%;
    padding: 25px;
    margin-bottom: 1%;
}

.send-message-btn
{
    width: 20%;
    padding: 26px;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color:#b8b8b8;

    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}


.msg-date
{
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}

.logout-button {
    float: right;
    margin-top: 25px;
}

.thread {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 400px;
    margin-top: 10px;
}

.message {
    margin: 5px;
}

.message-wrap {
    box-shadow: 0 0 3px #ddd;
    display: inline-block;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.message-by {
    margin-right: 3px;
    color: #7CD7D0;
    font-weight: bold;
}

.message-content {
    margin-left: 3px;
}

.new-msg-container {
    margin-top: 10px;
}

.new-msg-container .new-msg-wrap {
    height: 60px;
}

.new-msg-container .new-msg-wrap .msg-box {
    float: left;
    width: 78%;
    height: inherit;
}

.new-msg-container .new-msg-wrap .msg-send {
    float: left;
    width:20%;
    height: inherit;
    border-radius: 0px;
}

.btn-clear {
    background-color: #7cd7d0;
    height: 30px;
    width: 50%;
    border-radius: 0px;
}

.chat-header h3{
    margin: 0px;
    display: inline-block;
    float: left;
}

.clear-chat {
    float: right;
}

.clear-chat i{
    font-size: 20px;
    color: #7cd7d0;
    cursor: pointer;
}

.sys-msg {
    border: 2px solid #f5a777;
}

.sys-msg .message-by{
    color: #f5a777;
}